@import "tailwindcss";

#root {
  max-width: 1430px;
  max-height:6300px;
  width: 1500vh;
  height: 2800vh;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.N7qNVZrxmaMlDtc7Uef_AwHaHa?rs=1&pid=ImgDetMain);
  text-align: center;
}

