@import "tailwindcss";

#root {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.N7qNVZrxmaMlDtc7Uef_AwHaHa?rs=1&pid=ImgDetMain);
  text-align: center;
}

