@import "tailwindcss";

#root {
  max-width: 1300px;
  max-height:1300px;
  width: 1500vh;
  height: 1500vh;
  background-image: url(https://tse3.mm.bing.net/th/id/OIP.N7qNVZrxmaMlDtc7Uef_AwHaHa?rs=1&pid=ImgDetMain);
  text-align: center;
}

